:root {
    --devops-base-color: #202124;
    --devops-neutral-color: #d5d8db;
    --devops-h1-color: #6366f1;
    --devops-h2-color: #0ea5e9;
    --devops-h3-color: #14b8a6;
    --devops-h4-color: #22c55e;
    --devops-h5-color: #84cc16;
    --devops-h6-color: #eab308;
    --devops-h7-color: #f59e0b;
    --devops-h8-color: #f97316;
    --devops-h9-color: #dc2626;
}

.flash-highlight {
  animation: flash 2s ease !important;
  border-radius: 4px !important;
}

@keyframes flash {
    0% { background-color: transparent; }
    14% { background-color: var(--devops-h1-color); }
    28% { background-color: transparent; }
    42% { background-color: var(--devops-h1-color); }
    56% { background-color: transparent; }
    70% { background-color: var(--devops-h1-color); }
    84% { background-color: transparent; }
    100% { background-color: transparent; }
}